* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	tab-size: 2ch;
}

:root {
	--white: #efefef;
	--black: black;
	--blue: #563456;
	--gray: #ddd;
}

body {
	background: var(--blue);
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	letter-spacing: 0.1ch;
	font-weight: normal;
	color: var(--white);
}

#panels {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 1fr;
	gap: 1em;
	width: 100%;
	height: calc(100vh - 8.5rem);
	
	&, * {
		font-family: "Cascadia Code", monospace;
	}
}

#output, #inputPanel > *, #prints {
	overflow: auto;
	border: 1px var(--white) solid;
	padding: 0.75em;
}

#inputPanel {
	grid-row: 1/3;
	grid-column: 1;
}

#prints {
	color: var(--white);
	grid-column: 2;
	grid-row: 2;
	padding: 0;

	&::before {
		content: "Logs";
		display: block;
		padding: 0.2em;
		font-weight: bold;
		border-bottom: 2px var(--white) solid;
	}

	li {
		display: flex;
		padding: 0.2em;
		border-bottom: 1px var(--white) solid;
		white-space: pre;

		&::after {
			content: "line " attr(data-line);
			margin-left: auto;
		}
	}
}

#inputPanel {
	position: relative;

	> * {
		position: absolute;
		inset: 0;
		font-size: 1em;
	}
}

#input {
	resize: none;
	color: transparent;
	caret-color: var(--black);
	white-space: pre;
}

#highlighting {
	pointer-events: none;
	overflow: auto;
	visibility: hidden;
	/* background: rgba(0, 0, 0, 0.5); */
	color: var(--black);

	* {
		visibility: visible;
	}
}

#output {
	color: var(--white);
	font-size: 0.8rem;
}

#inputRow {
	display: flex;
	flex-direction: row;
	gap: 1em;

	> * {
		label {
			color: var(--white);
		}

		> :last-child  {
			background: var(--white);
			padding: 0.3em;
			border-radius: 0.3em;
			color: var(--black);
			border: none;
			font-size: 1rem;

			&:hover {
				background: var(--gray);
			}
		}
	}

	> :last-child {
		margin-left: auto;
	}
}

button {
	cursor: pointer;
}